* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family:Georgia, 'Times New Roman', Times, serif
}

.home,
.about,
.download,
.sign-up,
.sign-upRes {
  display: flex;
  height: 92vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}

.about {
  /* background: rgb(252,241,0);
background: radial-gradient(circle, rgba(252,241,0,1) 35%, rgba(167,21,21,1) 67%); */
display: flex;
background: rgb(33, 33, 33);
background: linear-gradient(95deg, rgb(48, 48, 48) 35%, rgb(29, 29, 29) 67%);


}
.information{
  font-size: 24px;
  color: azure;
 
}
.download{
 
  background: rgb(33, 33, 33);
  background: linear-gradient(95deg, rgb(179, 179, 179) 35%, rgb(116, 116, 116) 67%);
  display: flex;


}
.imgHand{
  width: 35vW;
}
.textDown{
  font-size: 29px;
  
  width: 60%;
}
.textStore{
  display: block;
  margin-left: 10%;
}
.store img{
  width: 25% ;
}
.store{
  display: block;
  margin-top: 20px;

}

.imgMobile{
  margin-right:10% ;
}
.services {
  background: rgb(33, 33, 33);
  background: linear-gradient(95deg, rgb(48, 48, 48) 35%, rgb(29, 29, 29) 67%);
  display: flex;
  height: 92vh;
  align-items: center;
  flex-direction: row

}
.text{
 
  font-size: 27px;
  color: azure;
 margin-right: 10%;
}
.cards img{
  display: block;
  margin-left: 30%;
}

.card1{
  width: 40%;
}
.card2{
  width: 40%;
  margin-top: 20px;
}

.sign-up {
  background: url('/images/signup.jpg') center center/cover no-repeat;
  height: 100vh;
  width: 100%;
}


.sign-upRes {
  background: url('/images/signup.jpg') center center/cover no-repeat;
  height: 160vh;
  width: 100%;
}


.container{
  background: rgb(29, 29, 29);

height: 60%;
width: 30%;
border-radius: 5%;
text-align: center;
display: block;
}
.containerRes{
  background: rgb(29, 29, 29);

  height: 110vh;
  width: 50vw;
  border-radius: 5%;
  text-align: center;
  display: block;
}
.containerRes h4{
  margin-top: 60px;
  font-size: 40px;
  color: azure;

}
.container h4{
  margin-top: 60px;
  font-size: 40px;
  color: azure;

}
.containerRes a{
  font-size: 20px;
  color: azure;
}
.container a{
  font-size: 20px;
  color: azure;
}

.signup{
  color:aqua;
  margin-top: 40%;
  
}

.info{
 justify-items: center;
}
.info input{
  width: 60%;
  height: 40px;
  text-align: center;
}
.button{
  background-color: #2d57f0;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  height: 50px;
  width: 40%;
  padding: 15px 32px;
  margin-top: 10px;
}
.img_about{
  margin-left: 32px;

}
.imgAbout{
  width: 100%;
}

.genero #age{
  width: 30%;

}
.selectionEnd{
  display: flex;
  justify-items: center;
  justify-content: space-around;
  margin-top: 25px;
 
}
.selectionEnd p{
  font-size: 22px;
  color: azure;
  text-align: center;
}
#endText{
  font-size: 22px;
  color: azure;
  text-align: center;
  margin-top: 20px;
}
.button{
  margin-top: 70px;
}

.genero{
 justify-content: space-around;
 margin-right: 10%;
  margin-top: 20px;
  height: 20px;
  
}
.genero p{
  font-size: 22px;
  color: azure;
}
.tipoCliente p{
  
    font-size: 22px;
    color: azure;
  
}

.link{
  display: block;
}

@media screen and (max-width: 960px) {
  .about{
    display: block;
    padding: 20px;
    height: 120vh;
  }
  .information{
    font-size: 20px;
  }
  .imgAbout{
    width: 70vw;
   
   justify-items: center;
  }
  .text{
    font-size: 1.3rem;
    margin-top: 30%;
  }
  .services{
    display: block;
    padding: 10px;
    height: 110vh;
  }

  .card1{
    width: 80vw;
    
  }
  .card2{
    width: 80vw;
    
  }
 .cards {
   margin-right: 75% !important;
 }
 .download{
  display: block;
  height: 170vh;
 }
 .store img{
  width: 40vw;
  align-items: center;
 }
 .imgMobile img{
  width: 100vw;
 }
 .container{


height: 60%;
width: 90%;
border-radius: 5%;
text-align: center;
display: block;
}
.info{
  margin-top: 20px;
}
.info input{
  width: 80%;
}
.containerRes{
  width: 90%;
  height: 125vh;
}
 .sign-upRes{
    height: 150vh;
 }

}